/* Customizações fora do escopo do Bootstrap */
body {
  background-color: #121212;
  color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Identidade visual única da marca */
.brand-title {
  font-weight: 800;
  letter-spacing: 2px;
  color: #d29eee !important;
}

/* Customização para os cards injetados dinamicamente */
.custom-card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(233, 169, 233, 0.2);
}

.custom-badge {
  background-color: #d29eee;
  color: #121212;
}

.card-text {
  color: #f2f1f3;
}

.text-purple {
  color: #d29eee;
}

.btn-purple {
  background-color: #d29eee;
  color: #121212;
  border: none;
}

.btn-purple:hover {
  background-color: #b589ce;
  color: #121212;
}

/* Estilos do Player */
.player-img {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(210, 158, 238, 0.2);
}

.playlist-item {
  background-color: transparent;
  color: #fff;
  border-color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
}

.playlist-item:hover {
  background-color: #2a2a2a;
  color: #d29eee;
}

.playlist-item.active {
  background-color: #d29eee !important;
  color: #121212 !important;
  border-color: #d29eee;
}